.content {
    .content__info {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 28px;
        color: #202020;
        position: relative;
    }
    .content__border {
        margin: 12px 0 24px 0;
        width: 100%;
        height: 1px;
        background: #eaeaea;
    }
    .content__items {
        .content__items-item {
            list-style: none;
            margin-bottom: 17px;
            &:last-child {
                margin-bottom: 0;
            }
            .accordion {
                .accordion__item {
                    position: relative;
                    .accordion__item-trigger {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        .number {
                            margin-left: auto;
                            padding-right: 20px;
                            font-size: 14px;
                            line-height: 17px;
                            text-align: center;
                            color: #555556;
                        }
                        .trigger-img {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            position: relative;
                            transition: all 0.4s ease-out;
                            &.active {
                                transform: rotate(180deg);
                            }
                        }
                    }
                    .accordion__item-content {
                        margin-top: 10px;
                        overflow: hidden;
                        height: 0;
                        position: relative;
                        transition: height 0.4s ease-out;
                        &.active {
                            height: 240px;
                            transition: all 0.4s ease-out;
                        }

                        .number {
                            font-size: 14px;
                            line-height: 17px;
                            text-align: center;
                            color: #555556;
                        }
                        li {
                            padding: 10px 30px;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            list-style: none;
                            &:last-child {
                                padding: 10px 30px 0 30px;
                            }
                            .title-text {
                                font-weight: 300;
                                font-size: 14px;
                                line-height: 17px;
                                color: #555556;
                            }
                            .number {
                                font-size: 14px;
                                line-height: 17px;
                                text-align: center;
                                color: #555556;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }
        }
    }
}
